@charset "utf-8";

/* 共通部分
-------------------------------------------------------- */
h2 {
    margin-top: 180px;
}

/* トップページ
---------------------------------------------------------*/
.top .wrapper {
    height: auto;
    width: 100%;
    padding: 20px 2%;
}

.top .wrapper .catchcopy {
    font-size: 2.6em;
    word-break: keep-all;
    overflow-wrap: break-word;
}

.top .wrapper p {
    word-break: keep-all;
    overflow-wrap: break-word;
}

.about .wrapper p {
    word-break: keep-all;
    overflow-wrap: break-word;
}

.top-menu .flex {
    flex-direction: column;
}

.top-menu .flex-food {
    flex-direction: column-reverse;
    margin-left: auto;
    margin-right: auto;
}

.top-food {
    margin-right: 0;
    margin-left: 75px;
}

.info-content {
    display: flex;
    flex-direction: column;
    line-height: 2em;
}

.news li {
    margin-bottom: 3em;
}

.access-address, .access-car, .access-train {
    width: 100%;
    margin: 2.8125rem auto;
    border-bottom: 1px solid rgba(111, 74, 42, 0.5);
    padding: 0px 0px 2.8125em 1em ;
}

/* お品書き
--------------------------------------------------------- */
.menu-img .wrapper {
    margin: auto auto;
}

/* 改行位置をを単語ごとに調整 */
.menu-img .wrapper p {
    /* word-break: keep-all; */
    overflow-wrap: break-word;
    margin: 10rem auto 0 auto;
    
}

/* キャッチコピーの改行位置を単語ごとに設定 */
.menu-img .wrapper .catchcopy {
    word-break: keep-all;
    overflow-wrap: break-word;
    margin: 10rem auto -8rem auto;
}

/* メニュー画像を縦並びにする */
.menu-drink, .menu-food {
    flex-direction: column;
}

.caption {
    text-align: left;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2.5em;
}

/* お問い合わせ
 --------------------------------------------------------*/
 /* 項目を縦並びに調整する */
label {
    flex-direction: column;
    text-align: left;
}

input[type="text"],
input[type="email"],
#inquiry {
    margin-left: 0;
    width: 100%;
}

input[type="submit"] {
    margin-top: 60px;
}

/* ハンバーガーメニュー
 ----------------------------------------*/
/* PCメニュー非表示 */
.pc-menu {
    display: none;
}

 /* ハンバーガーメニューのボタン */
 .sp-menu__box {
    position: fixed;
    top: 0;
    right: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    z-index: 100;
    background-color: #93945E;
}
  /* メニューの白線を疑似要素を使って3本作成 */
  .sp-menu__box span,         /* 真ん中の線 */
  .sp-menu__box span:before,  /* 上の線 */
  .sp-menu__box span:after {  /* 下の線 */
    /* contentの値を指定しないと疑似要素が生成されない */
    content: "";
    /* ３本線のサイズと色を指定 */
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #291515;
    /* 3本線の位置は絶対位置で指定 */
    position: absolute;
}
  /* 上の線の位置 */
  .sp-menu__box span:before {
    /* 真ん中の線と離す距離 */
    bottom: 8px;
}
  /* 下の線の位置 */
  .sp-menu__box span:after {
    /* 真ん中の線と離す距離 */
    top: 8px;
}
  
  /* チェックボックスは常に非表示 */
#sp-menu__check {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

  /* チェックボックスのチェックがON（スマホ用メニューを開いた状態） */
  /* 真ん中の線 */
  #sp-menu__check:checked ~ .sp-menu__box span {
    /* 透明にして見えなくする */
    background: rgba(255, 255, 255, 0);
}

  /* 上の線 */
  #sp-menu__check:checked ~ .sp-menu__box span::before {
    /* 真ん中の線との距離を無くす（真ん中の線と同じ位置にする） */
    bottom: 0;
    /* 右に45度傾けてバツの片側の線にする */
    transform: rotate(45deg);
}

  /* 下の線 */
  #sp-menu__check:checked ~ .sp-menu__box span::after {
    /* 真ん中の線との距離を無くす（真ん中の線と同じ位置にする） */
    top: 0;
    /* 左に45度傾けてバツの片側の線にする */
    transform: rotate(-45deg);
}

  #sp-menu__check:checked ~ .hamburger__content {
    left: 0;
}

 /* スマホ用メニュー */
.sp-menu__content {
    /* 絶対位置で指定   */
    position: fixed;
    /* 画面全体に表示 */
    width: 100%;
    height: 100%;
    /* 開始位置は左上隅 */
    top: 0;
    left: 0;
    /* 前面に表示するがハンバーガーボタンよりは背後 */
    z-index: 90;
    background-color:#93945E;
}
  /* スマホ用メニューのリスト */
  .sp-menu__list {
    padding: 70px 10px 0;
}
  /* スマホ用メニュー項目 */
  .sp-menu__item {
    border-bottom: solid 1px #6f4a2a;
    list-style: none;
}
  /* スマホ用メニュー項目のリンク */
  .sp-menu__link {
    display: block;
    width: 100%;
    box-sizing: border-box;
    color: #291515;
    text-decoration: none;
    padding: 9px 15px 10px 0;
} 

/* ハンバーガーボタンを押してチェックがONの時だけ
   スマホ用メニューを画面左端に移動する */
   #sp-menu__check:checked ~ .sp-menu__content {
    left: 0;
  }
  /* 変更箇所はコメントの項目のみ */
  .sp-menu__content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
  
    /* 普段は画面外にするために左端を画面右端の位置にする */
    left: 100%;
  
    z-index: 90;
    background-color: #93945E;
    
    /* 右端からゆっくり移動するように表示 */
    transition: all 0.5s;
  }